
 <nav class="navbar  sticky-top navbar-expand-lg  bg-white">
  <div class="container-fluid">
    <a class="navbar-brand ms-lg-5" href="#"><h1 class="m-0 text-upercase text-dark "><i class="text-success">PET STORE</i></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="#home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Service</a>
        </li>
        <li class="nav-item dropdown">
          <a  href="#" class= "nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Category
          </a>
        </li>
      </ul>
          <ul class="dropdown-menu m-0">
            <li><a href="#" class="dropdown-item">Dogs</a></li>
            <li><a href="#" class="dropdown-item" >Cats</a></li>

          </ul>
           
              <form role="search" action="{%url 'serch'%}" method="get" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
           </div>
       </div>
</nav>
<hr>